{% extends 'base.html.twig' %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-5">
                {{ form(form) }}
            </div>
            <div class="col-12 col-md-6 offset-0 offset-md-1">
                {% for variation in variationTypes %}
                    <div class="card mt-3">
                        <div class="card-body">
                            {{ variation.name }} <br/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
